[rhel75-beta]
name=RHEL75-beta
baseurl="{{ rhel75_beta_baseurl }}"
enabled=1
skip_if_unavailable=1
gpgcheck=0

[rhel75-beta]
name=RHEL75-beta-more
baseurl="{{ rhtl75_beta_add_baseurl }}"
enabled=1
skip_if_unavailable=1
gpgcheck=0
