[rhel-7.4.z]
name=RHEL_7.4_zstream
baseurl="{{ rhel74_1 }}"
enabled=1
gpgcheck=0

[rhel-74-optional]
name=RHEL_74_OPTIONAL
baseurl="{{ rhel74_2 }}"
enabled=1
gpgcheck=0

[rhel-7.4-supplementary]
name=RHEL_74_SUPPLEMENTARY
baseurl="{{ rhel74_3 }}"
enabled=1
gpgcheck=0
